/* Slideshow container */
h1 {
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: xx-large;
}

.menu {
    padding: 0.5rem 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Cabeçalho */
  header {
    background: #00aaff;
    padding: 1rem 0;
  }
  
  header .logo {
    color: white;
    font-size: 2rem;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }


.slideshow-container {
    position: relative;
    height: 85vh; /* Full height */
    width: 100%;   /* Full width */
    overflow: hidden;
}

/* Each slide (image) */
.slide {
    display: none;
    position: relative;
    height: 100vh;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text inside the slide */
.text {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

/* Animation for fade */
.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
